@model KeepTrack.Models.FleetData
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="impage/ong" href="~/img/title-logo.png">
    <script src="~/js/style.js"></script>
    <title>Add Fleet</title>
    <link rel="stylesheet" href="~/css/Regstyle.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div class="row">
        <div class="book">
            <div class="book-form">
                <form action="#" class="form">
                    <h2 class="heading-about" style="font-size:35px !important">
                        Fleet Registration
                    </h2>
                    <br />
                    <div class="form-group">
                         <label for="name" style="color:black !important" class="form-label">RC Number</label>
                        <input type="text" class="form-input" placeholder="RC Number" id="rcno" required>

                    </div>
                    <br />
                    <div class="form-group">
                        <label style="color:black !important" class="form-label">Company Name</label>
                        <input type="text" class="form-input" placeholder="Company Name" id="Cname" required>

                    </div>
                    <br />
                    <div class="form-group">
                        <label for="Fleettype" style="color:black !important" class="form-label">Fleet Type</label>
                        <select id="soflow">
                            <!-- This method is nice because it doesn't require extra div tags, but it also doesn't retain the style across all browsers. -->
                            <option>Fleet Type</option>
                            <option value="Car">Car</option>
                            <option value="Truck">Truck</option>
                        </select>
                    </div>
                    <br />
                    <div class="form-group">
                        <button type="button" onclick="addfleet();" class="btn btn-green">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
